@import '../../../styles/colors';
@import '../../../styles/sizes';
@import '../../../styles/misc';

.nav-link {
  transition: background-color $animationTime;
}

.nav-link {
  color: white;
  background-color: $accent;
  border-radius: 0;
}

.nav-link:hover {
  background-color: $round;
}

.nav-link.active {
  background-color: $round;
}

//Bar
.bar {
  z-index: 1;
 top: $barHeight + 0.2rem;
 left: $navWidth + 1rem;
 position: fixed;
 height: $barHeight;
 background-color: $background;
 line-height: $barHeight + 0.5rem;
 width: 100%;
 transition: left $animationTime;
}


b {
  color: $navIcon;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .full {
    left: 0;
  }
}
