<div [ngClass]="{'hidden': !show}" class="sidenav">
  <div routerLink="/home" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" class="round">
    <span>
      <b class="fa fa-home"></b>
    </span>
  </div>
  <div routerLink="/customers" routerLinkActive="active" class="round">
    <span>
      <b class="fa fa-address-book"></b>
    </span>
  </div>
  <div routerLink="/day" routerLinkActive="active" class="round">
    <span>
      <b class="fa fa-calendar-o"></b>
    </span>
  </div>
  <div routerLink="/week" routerLinkActive="active" class="round">
    <span>
      <b class="fa fa-calendar"></b>
    </span>
  </div>
  <div routerLink="/work" routerLinkActive="active" class="round">
      <span>
        <b class="fa fa-briefcase"></b>
      </span>
  </div>
  <div routerLink="/maintenance" routerLinkActive="active" class="round">
      <span>
        <b class="fa fa-wrench"></b>
      </span>
  </div>
  <div routerLink="/time" routerLinkActive="active" class="round">
      <span>
        <b class="fa fa-clock-o"></b>
      </span>
  </div>
</div>

