<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="card-text">
        <div class="center">
          <h1>Welkom {{username}} bij SporthalPlanner</h1>
          <h4>De companion app voor SporthalHuren</h4>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <h5>Wat wilt u doen?</h5>
      </div>
      <div class="card-text">
          <ul class="list-group">
            <li routerLink="/day" class="list-group-item">Mijn dagoverzicht inzien</li>
            <li routerLink="/week" class="list-group-item">Mijn weekoverzicht inzien</li>
            <li routerLink="/work" class="list-group-item">Mijn personeel inplannen</li>
            <li routerLink="/customers" class="list-group-item">Mijn klanten beheren</li>
            <li routerLink="/time" class="list-group-item">De sluitingsdagen beheren</li>
            <li routerLink="/maintenance" class="list-group-item">Het onderhoud beheren</li>
          </ul>
      </div>
    </div>
  </div>
</div>
