//Basic
$primary: #FFC76D;
$primaryDark: #F8B132;
$accent: rgb(250, 158, 0);
// $highlight: #0DAAFF;
$text: #263238;
$background: #F5F5F5;

//Text
$primary-text: #F5F5F5;

//Datepicker
$highlight-date: #CFD8DC;


//Navbar
$shadowColor: rgb(128, 128, 128);
$navIcon: #FAFAFA;
$roundDisabled: rgb(108, 198, 247);
$round: #0DAAFF;
$roundDark: rgb(12, 138, 206);
$outline: #FAFAFA;
