//Basic
$primary: #f44336;
$primaryDark: #d32f2f;
$primaryDarker: #b71c1c;
$accent: #FF594C;
$text: #263238;
$background: #F5F5F5;


//Navbar
$shadowColor: #37474F;
$navIcon: #FAFAFA;
$round: #b71c1c;
$outline: #FAFAFA;

//Plan
$noteColor: #FFF176;
$noteAcceptedColor: #C5E1A5;
$noteDeclinedColor: #ef9a9a;
