@font-face {
  font-family: 'Sport';
  src: url("~fonts/Octin-Sports-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  src: url("~fonts/Montserrat-Regular.ttf") format("truetype");
}

$fontRegular: 'Montserrat', sans-serif;
$sportFont: 'Sport', sans-serif;

$animationTime: 0.2s;
