<div class="ml-4 mt-4">
  <div class="row">
    <div class="col col-xs-6 spacing">
      <app-staff-members
        (onFormChanged)="onFormChanged($event)"
        (onPlanningFormChanged)="onPlanningFormChanged($event)"
        (onMemberSelected)="onMemberSelected($event)">
      </app-staff-members>

      <div *ngIf="addingPlanning">
        <app-add-planning [selectedMember]="member"></app-add-planning>
      </div>
      <div *ngIf="addingMember">
        <app-add-member></app-add-member>
      </div>
    </div>
    <div class="col col-xs-6">
      <app-planning></app-planning>
    </div>
  </div>
</div>
