<div class="container">
  <div class="card" *ngFor="let i of hoursInADay">
    <div class="row">
      <div class="col hour">
        <b *ngIf="i > 0 && i < 10">0{{i}}:00</b>
        <b *ngIf="i >= 10">{{i}}:00</b>
      </div>
      <div class="col-10 bookings">
        <div *ngFor="let booking of bookingsToDisplay[i]" class="card bookingCard">
          <div class="card-body">
            <div class="card-title">
              {{booking.userId}}
            </div>
            {{booking.startingTime}} - {{booking.endingTime}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
