<div (swipeleft)="onDayChange(7)">
  <div (swiperight)="onDayChange(-7)" >
      <div class="nav">
          <div class="container">
            <div class="row">
              <div class="col center arrow" (click)="onDayChange(-7)">
                <!-- Left arrow -->
                <b class="fa fa-arrow-left"></b>
              </div>
              <div class="col-8 center">
                <!-- DatePicker -->
                <input [ngClass]="{ 'highlight' : highlightDatepicker }" class="datepicker" type="date" #date [(ngModel)]="dateString" (change)="changeDate(date.value)"/>
              </div>
              <div (click)="onDayChange(7)" class="col center arrow">
                <!-- Right arrow -->
                <b class="fa fa-arrow-right"></b>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="week">{{year}} - Week {{week}}
              <br/>
              <div class="navweek">
                <div class="btn-group-vertical">
                    <button (click)="disableMobileDays(); showMonday = true;" [ngClass]="{ 'active' : showMonday }" type="button" class="btn btn-danger">Maandag</button>
                    <button (click)="disableMobileDays(); showTuesday = true;" [ngClass]="{ 'active' : showTuesday }" type="button" class="btn btn-danger">Dinsdag</button>
                    <button (click)="disableMobileDays(); showWednesday = true;" [ngClass]="{ 'active' : showWednesday }" type="button" class="btn btn-danger">Woensdag</button>
                    <button (click)="disableMobileDays(); showThursday = true;" [ngClass]="{ 'active' : showThursday }" type="button" class="btn btn-danger">Donderdag</button>
                    <button (click)="disableMobileDays(); showFriday = true;" [ngClass]="{ 'active' : showFriday }" type="button" class="btn btn-danger">Vrijdag</button>
                    <button (click)="disableMobileDays(); showSaterday = true;" [ngClass]="{ 'active' : showSaterday }" type="button" class="btn btn-danger">Zaterdag</button>
                    <button (click)="disableMobileDays(); showSunday = true;" [ngClass]="{ 'active' : showSunday }" type="button" class="btn btn-danger">Zondag</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-8">
            <div [ngClass]="{ 'hidden' : !showMonday }" class="mobile-monday" >
                <app-day-overview [bookings]="weekOverview[0] ? weekOverview[0] : []"></app-day-overview>
            </div>
            <div [ngClass]="{ 'hidden' : !showTuesday }" class="mobile-tuesday">
                <app-day-overview [bookings]="weekOverview[1] ? weekOverview[1] : []"></app-day-overview>
            </div>
            <div [ngClass]="{ 'hidden' : !showWednesday }" class="mobile-wednesday">
                <app-day-overview [bookings]="weekOverview[2] ? weekOverview[2] : []"></app-day-overview>
            </div>
            <div [ngClass]="{ 'hidden' : !showThursday }" class="mobile-thursday">
                <app-day-overview [bookings]="weekOverview[3] ? weekOverview[3] : []"></app-day-overview>
            </div>
            <div [ngClass]="{ 'hidden' : !showFriday }" class="mobile-friday">
                <app-day-overview [bookings]="weekOverview[4] ? weekOverview[4] : []"></app-day-overview>
            </div>
            <div [ngClass]="{ 'hidden' : !showSaterday }" class="mobile-saterday">
                <app-day-overview [bookings]="weekOverview[5] ? weekOverview[5] : []"></app-day-overview>
            </div>
            <div [ngClass]="{ 'hidden' : !showSunday }" class="mobile-sunday">
                <app-day-overview [bookings]="weekOverview[6] ? weekOverview[6] : []"></app-day-overview>
            </div>
          </div>
        </div>


        <div class="wrapper-header">
          <div class="one-header">Monday</div>
          <div class="two-header">Tuesday</div>
          <div class="three-header">Wednesday</div>
          <div class="four-header">Thursday</div>
          <div class="five-header">Friday</div>
          <div class="six-header">Saterday</div>
          <div class="seven-header">Sunday</div>
        </div>
        <div class="wrapper-days">
            <div class="one"><app-day-overview [bookings]="weekOverview[0] ? weekOverview[0] : []"></app-day-overview></div>
            <div class="two"><app-day-overview [bookings]="weekOverview[1] ? weekOverview[1] : []" ></app-day-overview></div>
            <div class="three"><app-day-overview [bookings]="weekOverview[2] ? weekOverview[2] : []"></app-day-overview></div>
            <div class="four"><app-day-overview [bookings]="weekOverview[3] ? weekOverview[3] : []"></app-day-overview></div>
            <div class="five"><app-day-overview [bookings]="weekOverview[4] ? weekOverview[4] : []"></app-day-overview></div>
            <div class="six"><app-day-overview [bookings]="weekOverview[5] ? weekOverview[5] : []"></app-day-overview></div>
            <div class="seven"><app-day-overview [bookings]="weekOverview[6] ? weekOverview[6] : []"></app-day-overview></div>
        </div>
</div>
