<div class="wrapper">
  <div class="one week">Week {{week}}</div>
</div>
<div class="wrapper-header">
  <div class="one-header">Monday</div>
  <div class="two-header">Tuesday</div>
  <div class="three-header">Wednesday</div>
  <div class="four-header">Thursday</div>
  <div class="five-header">Friday</div>
  <div class="six-header">Saterday</div>
  <div class="seven-header">Sunday</div>
</div>
<div class="wrapper">
    <div class="one"><app-day-overview></app-day-overview></div>
    <div class="two"><app-day-overview></app-day-overview></div>
    <div class="three"><app-day-overview></app-day-overview></div>
    <div class="four"><app-day-overview></app-day-overview></div>
    <div class="five"><app-day-overview></app-day-overview></div>
    <div class="six"><app-day-overview></app-day-overview></div>
    <div class="seven"><app-day-overview></app-day-overview></div>
</div>
