<div class="container">
  <div *ngIf="!isLoading">
    <h2 *ngIf="customersSporthalHuren.length !== 0">Sporthal huren klanten</h2>
    <div>
      <p *ngFor="let customer of customersSporthalHuren">{{customer.sporthalHurenId}}</p>
    </div>
    <h2>Overige klanten <button (click)="isAddingCustomer = !isAddingCustomer" class="btn btn-success btn-sm">+</button> </h2>
    <div>
      <form *ngIf="isAddingCustomer">
        <input #first type="text" placeholder="First name">
        <input #last type="text" placeholder="Last name">
        <br/>
        <button (click)="addCustomer(first.value, last.value); isAddingCustomer = !isAddingCustomer" class="btn btn-primary save">Save</button>
      </form>
      <p *ngFor="let customer of customersNonSporthalHuren">{{customer.firstName}} {{customer.lastName}}
          <button *ngIf="customer.id !== null" (click)="deleteCustomer(customer.id);" class="btn btn-danger btn-sm delete ">
              -
          </button>
      </p>
    </div>
  </div>

  <div *ngIf="isLoading" class="loader"></div>
</div>
